.main {
    position: absolute;
    top: 10%;
    left: 20%;
    height: auto;
    min-height: 90vh;
    width: 80vw;
    max-width: 80vw;
    padding-bottom: 2rem;
    /* outline: 1px solid red; */
}

.main > table {
    width: 90%;
    margin: 0 1.5rem;
    border-radius: 4px;
    border-collapse: collapse;
}

.main > table > thead > tr {
    color: #fff;
    text-align: center;
    background-color: #003679;
}

.main > table > thead > tr > th {
    padding: 0.5rem 1rem;
}

td  {
    font-size: 18px;
    padding: 1rem 0.5rem;
}

.evalBox {
    height: 25px;
    width: 25px;
    border-radius: 10px;
    border: 1px solid #000;
}

.summNcomm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: auto;
    min-height: 40vh;
    margin: auto 1.5rem;
}

.summary {
    height: auto;
    min-height: 35vh;
    width: 47%;
    background-color: #E5EBF1;
}

.summaryCont {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #101110BF;
    width: 90%;
    height: auto;
    min-height: 180px;
    max-height: 180px;
    margin: 0 1rem;
    font-size: 16px;
    font-weight: 600;
    padding: 0.5rem;
    overflow-y: scroll;
    background-color: #fff;
}

/* COODSTDEVAL.jsx */
.guideCont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: 0 0 1em 1.5rem;
    /* outline: 1px solid red; */
}

.guideCont > div {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    align-items: flex-start;
    margin-right: 1.5rem;
}

.checkBox {
    border: none;
    height: 22px;
    width: 22px;
}

.evalForm {
    height: 35vh;
    width: 90%;
    margin: 1rem 1.5rem;
    padding: 0.5rem 0;
    background-color: #E5EBF1;
}

.evalForm > label {
    display: block;
    color: #003679;
    font-size: 16px;
    font-weight: 800;
    margin: 0.5rem 0 0 1rem;
}

.evalForm > textarea {
    width: 90%;
    height: auto;
    min-height: 50%;
    resize: none;
    border: none;
    font-size: 18px;
    margin: 1rem 1rem;
    padding: 0.5rem 1rem;
}

.submitEvalBtn {
    font-size: 20px;
    width: 440px;
    height: 45px;
    border: none;
    margin: 0.8rem 1rem;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    background-color: #003679;
}

