.logbook {
    position: relative;
    height: auto;
    min-height: 90vh;
    width: 80vw;
    position: absolute;
    top: 10%;
    left: 20%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2rem 0;
    /* outline: 1px solid red; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    height: 5vh;
    padding: 1rem 1rem;
    margin: 0 auto;
    /* outline: 1px solid blue; */
}

.addLogBtn {
    font-size: 16px;
    font-weight: 600;
    height: 45px;
    min-width: 140px;
    border: none;
    border-radius: 18px;
    padding: 0.25rem 1rem;
    color: #003976;
    cursor: pointer;
    background-color: #FCB131;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.downloadBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    height: 45px;
    min-width: 240px;
    border: none;
    border-radius: 18px;
    padding: 0.5rem 1.5rem;
    color: #003976;
    cursor: pointer;
    background-color: #FCB131;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 2px 3px 0px rgba(0, 0, 0, 0.10), 0px 6px 6px 0px rgba(0, 0, 0, 0.09), 0px 14px 8px 0px rgba(0, 0, 0, 0.05), 0px 24px 10px 0px rgba(0, 0, 0, 0.01), 0px 38px 11px 0px rgba(0, 0, 0, 0.00);
}



.downloadBtn:hover,
.addLogBtn:hover {
    background-color: #f6bd5b;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    min-height: 70vh;
    padding: 0.5rem auto;
    margin: 2rem 0;
    /* outline: 1px solid red; */
}



/* ***************** LOG ******************  */
.log {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 230px;
    width: 21%;
    padding: 0.5rem;
    border-radius: 4px;
    margin: 0.6rem 0.5rem;
    background-color: #003976;
}

.uno {
    width: 98%;
    height: 50%;
    border-radius: 4px;
    background-image: url('https://res.cloudinary.com/dmyvdqjso/image/upload/v1700391819/navijje30m4wcf2epexl.png');
    background-size: cover;
    /* background-color: rgba(255, 255, 255, 0.94); */
}

.uno > div {
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0.6;
    border-radius: 4px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 90%;
    padding: 0.25rem 0.5rem;
    margin: 0 auto;
    /* outline: 1px solid red;s */
}

.line {
    height: 15px;
    width: 2px;
    /* border: 1px solid #003976; */
    background-color: #003976;
}

.btn {
    font-size: 15px;
    font-weight: 500;
    height: 35px;
    width: 98%;
    border: none;
    border-radius: 4px;
    color: #003976;
    cursor: pointer;
    background-color: #FCB131;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #dba64b;
}

/* ***************** ADD LOG ******************  */
.addCont {
    position: relative;
    height: auto;
    min-height: 80vh;
    width: 80vw;
    position: absolute;
    top: 10%;
    left: 20%;
    overflow-y: scroll;
    overflow-x: hidden;
    /* outline: 1px solid red; */
}

.addContMain {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    height: auto;
    min-height: 70vh;
    padding: 0.5rem;
    /* outline: 1px solid red; */
}

.formCont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    min-height: 65vh;
    max-height: 75vh;
    padding: 1rem 0;
    border-radius: 20px;
    background-color: #E5EBF1;
}

.form {
    width: 90%;
    height: 90%;
    padding: 1rem 0 2rem 0; 
    /* outline: 1px solid red; */
}

.form > label {
    display: block;
    margin: 1rem;
    color: #101110;
    font-weight: 600;

}

.form > input {
    display: block;
    width: 80%;
    height: 30px;
    border: none;
    font-size: 17px;
    margin: 0 1rem;
    border-radius: 18px;
    padding: 0.25rem 0.8rem;
    box-shadow: 0 0 2px 0 rgb(0, 0, 0, 1);
}

.form > textarea {
    display: block;
    width: 80%;
    height: 90px;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    border: none;
    font-size: 18px;
    border-radius: 18px;
    box-shadow: 0 0 2px 0 rgb(0, 0, 0, 1);

}

.form > button {
    width: 85%;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 1rem 1rem;
    margin: 2rem 0 2rem 1rem;
    background-color: #FCB131;
}

.form > button:hover {
    background-color: #fba817;
}


.calendar {
    width: 45%;
    height: 82vh;
    /* outline: 1px solid blue; */
}

/* ***************** VIEW LOG ****************** */
.view {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    min-height: 90vh;
    width: 80vw;
    position: absolute;
    top: 10%;
    left: 20%;
    overflow-y: scroll;
    overflow-x: hidden;
    /* outline: 1px solid red; */
}

.viewOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86%;
    margin: 2rem 0 0 2rem;
    padding: 0.25rem 1rem;
    background-color: #E5EBF1;
}

.right {
    padding: 0.5rem 0;
    /* outline: 1px solid red; */
}

.right > button {
    border: none;
    font-size: 16px;
    margin: 0 1rem;
    padding: 0.5rem;
    color: #000;
    cursor: pointer;
    background-color: transparent;
    /* outline: 1px solid red; */
}

.descriptionCont {
    width: 86%;
    height: auto;
    min-height: 25vh;
    margin: 2rem 0 0 2rem;
    padding: 0.5rem 1rem;
    background-color: #E5EBF1;
}
