.profileCont {
    position: relative;
    height: auto;
    min-height: 90vh;
    width: 80vw;
    position: absolute;
    top: 10%;
    left: 20%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 61vh;
    width: 35%;
    margin: 1.5rem 1rem auto 1.5rem;
    background-color: #E5EBF1;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 2px 3px 0px rgba(0, 0, 0, 0.10), 0px 6px 6px 0px rgba(0, 0, 0, 0.09), 0px 14px 8px 0px rgba(0, 0, 0, 0.05), 0px 24px 10px 0px rgba(0, 0, 0, 0.01), 0px 38px 11px 0px rgba(0, 0, 0, 0.00);

}

.imgCont {
    position: relative;
    height: auto;
    padding: 0.6rem;
    margin-bottom: 1rem;
    /* outline: 1px solid red; */
}

.icon {
    position: absolute;
    top: 4%;
    right: 10%;
    font-size: 22px;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    color: #003976;
    background-color: #fff;
}

.icon:hover {
    color: #ff1a2f;
}

.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCB131;
    width: 60%;
    height: 50px;
    color: #003976;
    border-radius: 12px;
    margin-bottom: 1rem;
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 2px 3px 0px rgba(0, 0, 0, 0.10), 0px 6px 6px 0px rgba(0, 0, 0, 0.09), 0px 14px 8px 0px rgba(0, 0, 0, 0.05), 0px 24px 10px 0px rgba(0, 0, 0, 0.01), 0px 38px 11px 0px rgba(0, 0, 0, 0.00);
}


.warning {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 70%;
    height: auto;
    min-height: 70px;
    color: #003976;
    margin: 0.5rem 0;
}


/* ************** FORM *************** */
.formCont {
    height: 80vh;
    width: 55%;
    margin: 1.5rem 1rem;
    background-color: #E5EBF1;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 2px 3px 0px rgba(0, 0, 0, 0.10), 0px 6px 6px 0px rgba(0, 0, 0, 0.09), 0px 14px 8px 0px rgba(0, 0, 0, 0.05), 0px 24px 10px 0px rgba(0, 0, 0, 0.01), 0px 38px 11px 0px rgba(0, 0, 0, 0.00);

}

.form > label {
    display: block;
    color: #101110BF;
    font-size: 16px;
    font-weight: 600;
    margin: 0.5rem 1.2rem;
}

.inp {
    width: 60%;
    height: 35px;
    font-size: 18px;
    border: none;
    border-radius: 22px;
    margin: 0.5rem 1.5rem;
    padding: 0.25rem 1rem;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.10), 0px 6px 6px 0px rgba(0, 0, 0, 0.09), 0px 14px 8px 0px rgba(0, 0, 0, 0.05), 0px 24px 10px 0px rgba(0, 0, 0, 0.01), 0px 38px 11px 0px rgba(0, 0, 0, 0.00);
}

.btn {
    width: 65%;
    height: 45px;
    border: none;
    border-radius: 22px;
    font-size: 18px;
    color: #003976;
    cursor: pointer;
    font-weight: 600;
    margin: 2rem 0 0 1.5rem;
    background-color: #FCB131;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #fda711;
}




/* CONFIRMATION */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 35%;
    height: 30vh;
    padding: 2rem 2rem;
    border-radius: 14px;
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 2px 3px 0px rgba(0, 0, 0, 0.10), 0px 6px 6px 0px rgba(0, 0, 0, 0.09), 0px 14px 8px 0px rgba(0, 0, 0, 0.05), 0px 24px 10px 0px rgba(0, 0, 0, 0.01), 0px 38px 11px 0px rgba(0, 0, 0, 0.00);
}

.btnDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.btnDiv > button {
    border: none;
    width: 130px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 24px;
    color: #003976;
    cursor: pointer;
    background-color: #BFCDDD;
}

.btnDiv > button:hover {
    background-color: #000;
}