.main {
    position: absolute;
    top: 10%;
    left: 20%;
    height: auto;
    min-height: 90vh;
    width: 80vw;
    max-width: 80vw;
    padding-bottom: 1rem;
    /* outline: 1px solid red; */
}

.logCont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    height: auto;
    min-height: 50vh;
    margin: 0 1rem;
    /* outline: 1px solid red; */
}

.linksCont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    margin: 1rem 1rem;
    /* outline: 1px solid red; */

}

.evalBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42%;
    height: 50px;
    font-size: 18px;
    margin: 1rem auto;
    color: #fff;
    background-color: #003679;
    text-decoration: none;
    border-radius: 24px;
}

.supeEvalBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42%;
    height: 50px;
    font-size: 18px;
    margin: 1rem auto;
    color: #fff;
    background-color: #FF1A2F;
    text-decoration: none;
    border-radius: 24px;
}

.icon {
    font-size: 24px;
    margin-left: 0.5rem;
}


/* VIEW SINGLE LOG */
.singleLogCont {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 98%;
    height: auto;
    min-height: 50vh;
    margin: 0 1rem;
    padding: 0.5rem 0;
    /* outline: 1px solid red; */
}

.sides {
    width: 45%;
    height: auto;
    min-height: 50vh;
    margin-right: 2rem;
    padding: 0.5rem;
    background-color: #E5EBF1;
}

.sides > label {
    font-size: 16px;
    font-weight: 600;
    color: #101110BF;
    margin: 1rem 1rem;
}

.leftDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 85%;
    height: auto;
    min-height: 45px;
    padding: 0.25rem 1rem;
    margin: 1rem 1rem;
    background-color: #fff;
}

.rightDiv {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 85%;
    height: auto;
    min-height: 250px;
    padding: 0.5rem 1rem;
    margin: 1rem 1rem;
    background-color: #fff;
}
