.main {
    position: absolute;
    top: 10%;
    left: 20%;
    height: auto;
    min-height: 90vh;
    max-height: 90vh;
    width: 80vw;
    max-width: 80vw;
    padding-bottom: 2rem;
    /* outline: 1px solid red; */
}


/* ANNOUNCEMENT */
.announceCont {
    width: 95%;
    height: auto;
    min-height: 40vh;
    margin: 0 auto;
    overflow-y: scroll;
    background-color: #E5EBF1;
    /* outline: 1px solid red; */
}

.announcement {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 190px;
    max-height: 300px;
    cursor: pointer;
    /* outline: 1px solid red; */
}

.announcement:hover {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
}

.dateCont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 0.5rem;
    min-height: 120px;
    width: 20%;
    margin-left: 1rem;
    border-right: 2px solid #C3C4C3;
}

.announceDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 70%;
    min-height: 120px;
    margin-left: 1rem;
    /* outline: 1px solid rebeccapurple; */
}

.announceDiv > p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #003679;
    margin-top: 2rem;
}